<style>
    h1 {
        font-size: 16px;
        margin: 5px;
    }

    .containerM {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #f9fafc;
    }

    /*
Payment Information card
*/
    .details_card {
        min-height: 487px;
        width: 700px;
        height: auto;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 14px 70px;
        background-color: #fff;
    }

    /*
Order Summary Card
*/
    .summary_card {
        background-color: #fff;
        width: 350px;
        height: 100%;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 10px;
    }

    /*
Order Card Item Card
*/
    .card_item {
        display: flex;
        position: relative;
        margin: 10px 0;
    }

    .close-btn {
        position: absolute;
        right: 10px;
        top: 5px;
    }

    .card_item .product_img img {
        height: 50px;
        margin-right: 20px;
        width: 50px;
        border-radius: 5px;
    }

    .product_info h1 {
        font-size: 20px;
        color: #1e212d;
        margin: 5px 0;
    }

    .product_info p {
        color: #0d0d0d;
        font-size: 17px;
    }

    .product_rate_info {
        display: flex;
        margin: 5px 0;
        align-items: center;
        justify-content: space-between;
    }


    .pqt {
        font-size: 20px;
        line-height: 30px;
        width: 30px;
        text-align: center;
    }

    .pqt-plus,
    .pqt-minus {
        background: #fcfcfc;
        border: none;
        font-size: 20px;
        height: 100%;
        padding: 0 15px;
    }

    .pqt-plus:hover,
    .pqt-minus:hover {
        background: #53b5aa;
        color: #fff;
        cursor: pointer;
    }

    .pqt-plus {
        line-height: 30px;
    }

    .pqt-minus {
        line-height: 30px;
    }

    /*
Order price & total
*/
    .order_price,
    .order_service,
    .order_total {
        display: flex;

        justify-content: space-between;

        padding: 1px 8px;
        font-size: 78%;
    }

    .order_price p,
    .order_service p {
        color: #a1a1a1;
    }

    .order_total p {
        font-weight: 600;
    }

    /*
Payment Information all input
*/

    input {
        outline: 0;
        background: #f2f2f2;
        border-radius: 4px;
        width: 100%;
        border: 0;
        caret-color: #4f5d7e;
        margin: 10px 15px;
        padding: 15px 20px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .first_lastName,
    .shipping_card,
    .address {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

    }

    .address {
        margin: -29px -9px 6px 0;
    }

    .new_card {
        width: 40%;
        height: 100px;
        border: 2px solid #53b5aa;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }

    .add_savedcard {
        width: 25%;
        height: auto;
        border: 2px solid #ffc3c3;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }

    /*
Procced Payment button
*/
    .proced_payment a {
        padding: 10px 20px;
        width: 200px;
        border: 2px solid #f5f5f5;
        background-color: #53b5aa;
        color: #000;
        margin-left: 10px;
        cursor: pointer;
        text-decoration: none;
    }

    .name_address input,
    .address input {
        margin: 5px;
        /* Adjust the value as needed */
    }

    /* ----------------------
     */

    #modalOverlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        /* semi-transparent black background */
        justify-content: center;
        align-items: center;




    }

    #modalContent {
        width: 35%;
        background: #fff;
        /* white background for the modal content */
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    #addAddressButton {
        background-color: #3498db;
        /* Blue background color */
        color: #fff;
        /* White text color */
        padding: 10px 20px;
        /* Add some padding to the button */
        font-size: 16px;
        /* Set the font size */
        border: none;
        /* Remove the border */
        border-radius: 5px;
        /* Add a slight border-radius */
        cursor: pointer;
        /* Add a pointer cursor on hover */
        transition: background-color 0.3s;
        /* Add a smooth transition effect */
    }

    #addAddressButton:hover {
        background-color: #2980b9;
        /* Darker blue color on hover */
    }

    .radio-container {
        display: flex;
        align-items: center;
    }

    /* Style for the radio button */
    .radio-container input[type="radio"] {
        width: auto;
        margin-right: 5px;
        /* Add some space between the radio button and label */
    }

    /* Style for the label */
    .radio-container label {
        cursor: pointer;
        color: #333;
        font-size: small;
        /* Default color for the label */
    }

    /* Style for the checked radio button and its label */
    .radio-container input[type="radio"]:checked+label {
        color: #e74c3c !important;
        /* Change the color to your desired accent color */
        font-weight: bold;
        /* Optionally, make the label bold when selected */
    }

    /* Default styles for the radio button */
    input[type="radio"] {
        margin-right: 5px;
    }

    /* Styles for the radio button when checked */
    input[type="radio"]:checked {
        /* Set your accent color */
        background-color: rose;

        /* Add a border */
        border: 2px solid rose;

        /* Add any other styles you want when the radio button is checked */
    }

    .warningg p {
        color: #0381bc;
        text-decoration: none;
    }

    .warningg p:hover {
        color: #f80070;
        /* Change the color to your desired hover color */
        text-decoration: underline;
        /* Optional: Add underline on hover */
    }
</style>

<%- include('./layouts/header') %>
    <div class="banner-top">
        <div class="container">
            <h1>Checkout</h1>
            <em></em>
            <!-- <h2><a href="/">Home</a><label>/</label>Products</h2> -->
        </div>

    </div>
    <br>
    <div class="main" style="display: flex;">
        <div class="containerM">
            <div class="" style="width: auto;">

                <!-- <h4 class="text-center" style="color: #F67777;" >Payment Information</h4> -->

                <div class="details_card">
                    <div class="headerPayment">
                        <h4 class="text-center reducedfrom" style="color: #F67777; font-weight: bold;">Shipping
                            Details</h4>
                        <br>
                        <div class="addButton" style="
                        display: flex;
                        justify-content: center;">
                            <button id="addAddressButton" class="btn-primary text-dark ">Add Address</button>

                        </div>

                        <hr />

                    </div>





                    <% if (!user.address || user.address.length===0) { %>


                        <div style=" text-align: center;">
                            <p class="text-muted mb-1">No address found</p>
                        </div>
                        <% } else { %>

                            <h4 class="text-center reducedfrom" style="color: #F67777; font-weight: bold;">Addresses
                            </h4>
                            <hr>
                            <!-- Display a form for selecting an address -->
                            <form action="/" method="post" style="display: flex;justify-content: center;">
                                <% user.address.forEach((address, index)=> { %>
                                    <div class="add_savedcard">
                                        <!-- Use radio buttons to allow the user to select an address -->
                                        <input type="radio" id="address" name="selectedAddress"
                                            value=" <%= address.name %>,<%= address.mobile %>,<%= address.address %>,<%= address.pincode %>, <%= address.city %>, <%= address.state %>"
                                            style="margin-right: 5px;">
                                        <!-- Change color here -->
                                        <h4>
                                            <%= address.name %>
                                        </h4>
                                        <p class="text-muted mb-1">
                                            <%= address.mobile %>
                                        </p>
                                        <p class="text-muted mb-1">
                                            <%= address.address %>
                                        </p>
                                        <p class="text-muted mb-1">
                                            <%= address.pincode %>, <%= address.city %>, <%= address.state %>
                                        </p>
                                    </div>

                                    <% }) %>
                                        <!-- Add a submit button to submit the selected address -->
                                        <!-- <button type="submit">Select Address</button> -->
                            </form>
                            <% } %>

                </div>

            </div>
            <!-- ... (Previous HTML code) ... -->
            <!-- ----------------------------modal-------------  -->
            <div id="modalOverlay" class="modal-overlay">

                <div id="modalContent" class="modal-content" style="width: 35%; margin: auto;">
                    <!-- Your add address form goes here -->
                    <form action="/checkoutAddAddress" method="post" onsubmit="return validateForm()">
                        <div class="name_address col-md-12">
                            <h4 class="text-center" style="margin: inherit;">Add Address</h4>

                            <div class="address1">
                                <input class="" type="text" placeholder=" Name" name="name" pattern="[A-Za-z ]+"
                                    title="Only letters and spaces are allowed" required />
                                <input class="" type="tel" placeholder="mobile" name="mobile" pattern="\d{10}"
                                    title="Please enter a 10-digit phone number" required />
                                <input class="" type="text" id="put" placeholder="Address" name="address"
                                    pattern=".*\S+.*" title="Please enter a non-empty address" required />
                                <input class="" type="number" placeholder="Pincode" name="pincode" pattern="\d{6}"
                                    title="Please enter a 6-digit pincode" required />
                                <input class="" type="text" placeholder="landmark" name="landmark" pattern=".*\S+.*"
                                    title="Please enter a non-empty landmark" required />
                                <input class="" type="text" placeholder="city" name="city" pattern="[A-Za-z ]+"
                                    title="Only letters and spaces are allowed" required />
                                <input class="" type="text" placeholder="state" name="state" pattern="[A-Za-z ]+"
                                    title="Only letters and spaces are allowed" required />
                            </div>
                        </div>
                        <input class="proced_payment hvr-skew-backward mt-3"
                            style="background-color: #081e82ca; color: white; padding: 10px; cursor: pointer; width: 40%;     margin-top: 3px;"
                            type="submit" value="Add Address">
                    </form>
                    <button id="closeModalBtn" class="btn btn-danger" onclick="closeModal()">Close</button>
                </div>
            </div>
            <!-- ----------------------------modal--- end----------  -->

            <!-- ---------------------------------------  -->
            <div class="order_summary  ">
                <div class="summary_card">
                    <h5 class="text-center reducedfrom" style="color: #F67777; font-weight: bold;">Order Summary
                    </h5>
                    <hr>
                    <% cart.items.forEach((pro)=> { %>
                        <div class="card_item">
                            <div class="product_img">
                                <img src="/<%= pro.productId.images[1] %>" alt="image" />
                            </div>
                            <div class="product_info">
                                <h5 style="color: #F67777;">
                                    <%= pro.productId.productName %>
                                </h5>
                                <h5 style="font-size: small; font-weight: lighter; color: gray;">Qty: <%= pro.qty %>
                                </h5>
                                <div class="product_rate_info">
                                    <h6>₹<%= pro.productId.price * pro.qty %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <% }) %>


                            <div class="order_price">
                                <p>Order summary </p>
                                <span>₹<span id="OrderSummary">
                                        <%= subTotal %>
                                    </span>
                                </span>
                            </div>
                            <div class="order_service">
                                <p>Shipping</p>
                                <h6>₹0</h6>
                            </div>
                            <div class="order_service">
                                <p>Coupon Discount</p>
                                <h6 id="couponDiscount">₹0</h6>
                            </div>
                            <div class="order_total">
                                <p>Total Amount</p>
                                <span>₹<span id="totalAmount" style="font-weight: bold;">
                                        <%= subTotal %>
                                    </span></span>
                            </div>

                            <!-- ... (Previous HTML code) ... -->






                            <div class="redeem" style="display: flex;margin-top: 5px;">
                                <div class="inp">
                                    <input id="couponInput" type="text" class="form-control" placeholder="Promo code"
                                        style="height: 85%;">
                                </div>
                                <button type="button" class="btn btn-primary text-center" onclick="redeemCoupon()"
                                    style="margin-left: 5px; padding: 3px; height: 26px;">Redeem</button>



                            </div>
                            <div id="messageContainer"></div>

                            <a href="#" class="warningg" style="text-decoration: none;" data-toggle="modal"
                                data-target="#couponsModal">
                                <p style=" font-size: smaller;">Click here! For Available Coupons..</p>
                            </a>

                            <div class="summary" style="border: 1px solid #ddd; padding: 5px; margin-top: 10px;">
                                <h6 class="summary-title text-center"
                                    style="font-size: 13px;color: #F67777; margin-bottom: 10px;">Payment Mode
                                </h6>
                                <div class="radio-container">
                                    <input type="radio" name="payment" id="cod" style="width: auto;" value="cod"><label
                                        for="cod">Cash on Delivery (COD)</label>
                                </div>

                                <div class="radio-container">
                                    <input type="radio" name="payment" id="online" value="razorpay">
                                    <label for="online">Razorpay</label>
                                </div>
                                <div class="radio-container" style="display: block;">
                                    <input type="radio" name="payment" id="wallet" value="wallet">
                                    <label for="online">Wallet</label><br />
                                    <h5 class="text-muted"> wallet Balance:<%= user.walletBalance %>
                                    </h5>
                                </div>
                            </div>

                            <input class="proced_payment hvr-skew-backward mt-3" onclick="placeOrdersSelect()"
                                style="background-color: #F67777; color: white; padding: 3px; cursor: pointer; margin-top: 4px;"
                                type="button" value="Place To Order">

                </div>
            </div>
        </div>

    </div>
    </div>
    <!-- -----------modal-------------------------------------------------------------------  -->
    <!-- Modal -->
    <div class="modal fade" id="couponsModal" tabindex="-1" role="dialog" aria-labelledby="couponsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="couponsModalLabel">Available Coupons</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="couponsModalBody">
                    <% for (const coupon of coupons) { %>
                        <!-- Display coupon information here -->
                        <div class="coupon-box" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                            <p style="font-weight: bold; margin: 0;">Coupon Name: <%= coupon.couponName %>
                            </p>
                            <p style="margin: 0;">Coupon Code: <span class="text-info">
                                    <%= coupon.couponCode %>
                                </span>
                            </p>
                        </div>

                        <% } %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ---------------------check if coupons-------------------------------------------------------------------------------------  -->
    <script>
        function redeemCoupon() {
            var couponInput = document.getElementById("couponInput").value;
            var messageContainer = document.getElementById("messageContainer");
            var totalAmountElement = document.getElementById("totalAmount");

            // Make an AJAX request to the server
            fetch(`/validateCoupon?code=${couponInput}`)
                .then(response => response.json())
                .then(data => {
                    if (data.valid) {
                        const discountElement = document.getElementById("couponDiscount");
                        discountElement.innerText = `₹${data.discount}`;

                        const subTotal = parseInt('<%= subTotal %>');
                        const discount = parseInt(data.discount);
                        const totalAmount = subTotal - discount;

                        // Display the updated total amount
                        totalAmountElement.innerText = totalAmount;


                        messageContainer.innerHTML = "<p style='color: green; font-size:13px'>" + data.message + "</p>";
                    } else {
                        if (data.error === "Coupon not found.") {
                            messageContainer.innerHTML = "<p style='color: red; font-size:13px'>Coupon not found. Please enter a valid one.</p>";
                        } else if (data.error === "Coupon has expired.") {
                            messageContainer.innerHTML = "<p style='color: red; font-size:13px'>Coupon has expired. Please enter a valid one.</p>";
                        }
                        else if (data.error === "Coupon has already been used by this user.") {
                            messageContainer.innerHTML = "<p style='color: red; font-size:13px'>Coupon has already been used by this user.</p>";
                        } else {
                            messageContainer.innerHTML = "<p style='color: red; font-size:13px'>Error validating coupon. Please try again.</p>";
                        }
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
    <!-- ---------------------------------------------------------------------------------------  -->
    <script>
        function validateForm() {
            var inputs = document.querySelectorAll('#modalContent input');
            for (var i = 0; i < inputs.length; i++) {
                if (!inputs[i].checkValidity()) {
                    alert(inputs[i].validationMessage);
                    return false;
                }
            }
            return true;
        }


        function closeModal() {
            document.getElementById("modalOverlay").style.display = "none";
        }

        document.getElementById("addAddressButton").addEventListener("click", function () {
            openModal();
        });
        function openModal() {
            document.getElementById("modalOverlay").style.display = "block";
        }


        // -------------------------------------------------------------------------------------


        // -------------------------------------------------------------------------------------

        async function placeOrdersSelect() {


            const addressRadios = document.getElementsByName('selectedAddress')

            const paymentRadios = document.getElementsByName('payment')
            let isSelectedAddress = false;
            let isSelectedPayment = false;

            for (const radio of addressRadios) {
                if (radio.checked) {
                    isSelectedAddress = true;
                    // console.log('address checked');
                    break;
                }
            }
            for (const radio of paymentRadios) {
                if (radio.checked) {
                    // console.log("payment checked");
                    isSelectedPayment = true;
                    break;
                }
            }


            if (!isSelectedAddress) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please select an address.'
                });
                return;
            }
            if (!isSelectedPayment) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please select a payment method.'
                });
                return;
            }

            if (isSelectedPayment && document.getElementById('cod').checked) {
                const totalAmountElement = document.getElementById('totalAmount');
                const totalAmount = parseInt(totalAmountElement.innerText.replace('₹', ''));

                if (totalAmount <= 2000) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Warning!',
                        text: 'Cash on Delivery is only available for orders above ₹2000. Please choose a different payment method.',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK'
                    });
                    return;
                }
            }

            if (isSelectedPayment && document.getElementById('wallet').checked) {
                const totalAmountElement = document.getElementById('totalAmount');
                const totalAmount = parseInt(totalAmountElement.innerText.replace('₹', ''));
                const walletBalance =" <%= user.walletBalance %>";

                if (totalAmount > walletBalance) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Warning!',
                        text: 'You do not have enough money in your wallet to place this order.',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK'
                    });
                    return;
                }
            }


            if (isSelectedAddress && isSelectedPayment) {
                console.log('isSelectedAddress', isSelectedAddress, 'isSelectedPayment', isSelectedPayment);
                placeOrder()
            }


        }

        async function placeOrder() {

            const address = document.querySelector('input[name="selectedAddress"]:checked').value;
            const payment = document.querySelector('input[name="payment"]:checked').value;
            // console.log('address==',address,'payment==',payment);

            const totalAmountElement = document.getElementById('totalAmount');
            const subTotal = parseInt('<%= subTotal %>');
            const couponDiscountElement = document.getElementById("couponDiscount");
            const couponDiscount = parseInt(couponDiscountElement.innerText.replace('₹', ''));
            const walletBalance = '<%= user.walletBalance %>';

            console.log('couponDiscount:', couponDiscount);

            let totalAmount; if (couponDiscount > 0) {
                totalAmount = subTotal - couponDiscount;
            } else {
                totalAmount = subTotal;
            }
            // console.log('total::', totalAmount);



            $.ajax({
                url: '/PlaceToOrder',
                method: 'post',
                data: {
                    selectedAddress: address,
                    selectedPayment: payment,
                    subTotal: totalAmount,
                },
                success: (response) => {
                    if (response.codSuccess === true) {
                        const param = response.params;
                        const url = '/successPage/' + param;
                        window.location.href = url;
                    } else if (response.razorpayOrder) {
                        razorpayPayment(response.razorpayOrder);
                    } else {
                        console.error("Unexpected response from the server:", response);
                    }

                },
            });


        }
        // ----------------------------razorpay--------------------------------- 
        function razorpayPayment(order) {
            console.log('order:>', order);

            var options = {
                "key": "rzp_test_30bTTgzLa7YbmF",
                "amount": order.amount,
                "currency": "INR",
                "name": "Shopin",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id,
                "handler": function (response) {
                    // alert(response.razorpay_payment_id);
                    // alert(response.razorpay_order_id);
                    // alert(response.razorpay_signature)
                    if (response.razorpay_payment_id) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Payment Succeeded',
                            text: 'Your payment was successful!',
                            timer: 2000, // Auto close after 2 seconds
                            showConfirmButton: false, // Hide the "OK" button
                            willClose: () => {
                                verifyPayment(response, order);

                            }

                        })
                    }

                },
                "prefill": {
                    "name": "Shopin PVt Ltd",
                    "email": "anasbrototype@gmail.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Shopin Corporate Office"
                },
                "theme": {
                    "color": "#F67777"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
            rzp1.on('payment.failed', function (response) {

                // alert(response.error.metadata.order_id);
                // alert(response.error.metadata.payment_id);
                faildPayment(response, order);

            });

        }




        function verifyPayment(payment, order) {
            console.log('verifyPayment called');
            $.ajax({
                url: '/verifyPayment',
                method: 'post',
                data: {
                    payment, order
                },
                success: (response) => {
                    (response.razorpaySuccess)
                    const param = response.params;
                    const url = '/successPage/' + param;
                    window.location.href = url;
                }
            })
        }



        function faildPayment(payment, order) {
            console.log('faildPayment called');
            $.ajax({
                url: '/failedRazorPayment',
                method: 'post',
                data: {
                    payment, order
                },
                success: (response) => {
                    console.log('reponse from failed');
                    (response.razorpayFailed)

                    const param = response.params;
                    const url = '/successPage/' + param;
                    window.location.href = url;

                    Swal.fire({
                        icon: 'warning',
                        title: 'Order Accepted ',
                        text: 'Your payment was failed ! rery payment from order page',
                        timer: 2000,
                        showConfirmButton: false,
                        willClose: () => {

                            const param = response.params;
                            const url = '/successPage/' + param;
                            window.location.href = url;
                        }

                    })
                }
            })
        }

    </script>
    <%- include('./layouts/footer') %>