<%- include('./layouts/adminHeader') %>

<section class="content-main">
    <div class="row">
        <div class="col-lg-9">
            <div class="content-header">
                <h2 class="content-title">Edit Product</h2>

            </div>

        </div>
      
    </div>

    <form action="/admin/editProducts/" method="post" enctype="multipart/form-data" class="row">
        <div class="col-lg-6 data-table">
            <!-- Basic Info Card -->
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <label for="productName" class="form-label">Product title</label>
                        <input type="text" placeholder="Product name" class="form-control" id="productName" 
                        name="productName" required value="<%= products.productName%>" />
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="productDesc">Full description</label>
                        <textarea placeholder="Type here" class="form-control" rows="4" id="productDesc" name="productDesc" required ><%= products.description%> </textarea>
                    </div>
                    <div class="row ">
                        <div class="col-lg-4">
                            <div class="mb-4">
                                <label class="form-label" for="productPrice" >Price</label>
                                <div class="row gx-2">
                                    <input placeholder="₹" type="number" class="form-control" id="productPrice" name="productPrice" min="0" required value="<%= products.price%>"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-4">
                                <label class="form-label" for="productQty">Quantity</label>
                                <input placeholder="Qty" type="number" class="form-control" id="productQty" name="productQty" min="0" required value="<%= products.qty%>"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-4">
                                <label class="form-label" for="productCat">Category</label>
                                <select class="form-select" name="productCat" id="productCat" required value="<%= products.productName%>">
                                    <option>Boys</option>
                                    <option>Girls</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-4">
                                <label class="form-label" for="brand">Brand</label>
                                <input placeholder="Brand" type="text" class="form-control" id="brand" name="brand" required value="<%= products.brand%>" />
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label"></label>
                                <input class="form-control" id="image-input" type="file" multiple name="productImages" required />
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <button type="submit" id="submitForm" class="btn btn-md rounded font-sm hover-up">Save Product</button>
                    </div>
                </div>
            </div>

            <!-- Save Product Button -->
           
        </div>

        <!-- Image Preview Container -->
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h4>Image Preview</h4>
                            <div class="row">
                            <% products.images.forEach(img => { %>
                                <div id="cropped-images " class=" col-lg-6">
                                    <img src="<%= img %>" alt="">
                                </div>
                            <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Crop Images Button -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-body">
                        <!-- <button type="button" id="crop-button" class="btn btn-md rounded font-sm hover-up" disabled>Crop Images</button> -->
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- Include the admin footer -->
<%- include('./layouts/adminFooter') %>