<%- include('./layouts/header') %>


    <div
        style="width: 100%; height: 110px; background-color: #f3f3f3; text-align: center; font-size: 24px;font-weight: bolder; color: #7f7f7f;line-height: 100px;">
        User Profile</div>
    <%- include('./layouts/userHeader') %>
        <br>

        <div class="main ">

            <div class="container mt-5 text-center">



                <div class="row ">

                    <div class="container col-md-7" style="margin-left: -15px;margin-top: -15px;">
                        <a href="/addAddress"
                            style="display: inline-block;  padding: 8px 20px;margin-bottom: 10px; font-size: 13px; font-weight: bold; text-align: center; text-decoration: none; background-color: #3498db; color: #fff; border: 2px solid #3498db; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;"
                            onmouseover="this.style.backgroundColor='#2980b9'"
                            onmouseout="this.style.backgroundColor='#3498db'">Create Address</a>
                        <% if (message.length> 0) { %>
                            <div style="color: red;">
                                <%= message[0] %>
                            </div>
                            <% } %>
                                <hr>
                                <% user.address.forEach(userdata=> { %>
                                    <div class="col-xs-12 col-sm-8 col-lg-2 pb-5 address author-card pb-3 text-center"
                                        style=" padding: 16px 16px; border-radius: 8px; text-align: left; width: auto;margin-right: 10px;font-size: small; font-weight: bold;">

                                        <p style="margin: 0;">Name: <%= userdata.name %>
                                        </p>
                                        <p style="margin: 5px 0;">Mobile: <%= userdata.mobile %>
                                        </p>
                                        <p style="margin: 5px 0;">Pincode: <%= userdata.pincode %>
                                        </p>
                                        <p style="margin: 5px 0;">Address: <%= userdata.address %>
                                        </p>
                                        <p style="margin: 5px 0;">Landmark: <%= userdata.landmark %>
                                        </p>
                                        <p style="margin: 5px 0;">City: <%= userdata.city %>
                                        </p>
                                        <p style="margin: 5px 0;">State: <%= userdata.state %>
                                        </p>

                                        <a href="/editAddress/<%= userdata._id %>"
                                            style="background-color: #4CAF50; color: white; padding: 0px 6px; border: none; border-radius: 5px; cursor: pointer; margin-top: 10px; text-decoration: none; display: inline-block;">
                                            Edit
                                        </a>
                                        <a href="#" class="delete-link" data-address-id="<%= userdata._id %>"
                                            style="background-color: #f44336; color: white; padding: 0px 6px; border: none; border-radius: 5px; cursor: pointer; margin-top: 10px; text-decoration: none; display: inline-block;">
                                            Delete
                                        </a>

                                    </div>
                                    <% }) %>
                    </div>













                </div>
                <br>


            </div>
        </div>






        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const deleteLinks = document.querySelectorAll('.delete-link');

                deleteLinks.forEach(link => {
                    link.addEventListener('click', function (event) {
                        event.preventDefault();

                        const addressId = link.getAttribute('data-address-id');

                        Swal.fire({
                            title: 'Are you sure?',
                            text: 'You won\'t be able to delete this!',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Redirect to the delete route when confirmed
                                window.location.href = `/deleteAddress/${addressId}`;
                            }
                        });
                    });
                });
            });
        </script>





        <%- include('./layouts/footer') %>