<%- include('./layouts/header') %>
    <%- include('./layouts/userHeader') %>


        <br><br><br>


        <div class="main ">

            <div class="container mt-5 text-center">
                <% if (message.length> 0) { %>
                    <div style="color: red;">
                        <%= message[0] %>
                    </div>
                    <% } %>


                        <div class="row ">

                            <div class="container col-md-7"
                                style="border: 1px solid #ccc; border-radius: 5px; padding: 15px ; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                                <a href="/addAddress"
                                    style="display: inline-block; padding: 8px 20px;margin-bottom: 10px; font-size: 13px; font-weight: bold; text-align: center; text-decoration: none; background-color: #3498db; color: #fff; border: 2px solid #3498db; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;"
                                    onmouseover="this.style.backgroundColor='#2980b9'"
                                    onmouseout="this.style.backgroundColor='#3498db'">Create Address</a>
                                <% user.address.forEach(userdata=> { %>
                                    <div class="col-lg-2 pb-5 address author-card pb-3 text-center"
                                        style="border: 1px solid #ccc; padding: 16px 16px; border-radius: 8px; background-color: #f9f9f9; text-align: left; width: auto; margin:20px;">

                                        <p style="margin: 0;">Name: <%= userdata.name %>
                                        </p>
                                        <p style="margin: 5px 0;">Mobile: <%= userdata.mobile %>
                                        </p>
                                        <p style="margin: 5px 0;">Pincode: <%= userdata.pincode %>
                                        </p>
                                        <p style="margin: 5px 0;">Address: <%= userdata.address %>
                                        </p>
                                        <p style="margin: 5px 0;">Landmark: <%= userdata.landmark %>
                                        </p>
                                        <p style="margin: 5px 0;">City: <%= userdata.city %>
                                        </p>
                                        <p style="margin: 5px 0;">State: <%= userdata.state %>
                                        </p>

                                        <a href="/editAddress/<%= userdata._id %>"
                                            style="background-color: #4CAF50; color: white; padding: 5px 10px; border: none; border-radius: 5px; cursor: pointer; margin-top: 10px; text-decoration: none; display: inline-block;">
                                            Edit
                                        </a>
                                        <a href="/deleteAddress/<%= userdata._id %>"
                                            style="background-color: #f44336; color: white; padding: 5px 10px; border: none; border-radius: 5px; cursor: pointer; margin-top: 10px; text-decoration: none; display: inline-block;">
                                            Delete
                                        </a>

                                    </div>
                                    <% }) %>
                            </div>













                        </div>
                        <br>


            </div>
        </div>












        <%- include('./layouts/footer') %>