<style>
    
</style>

<%- include('./layouts/header') %>

    <div class="banner-top">
        <div class="container">
            <h1>Cart</h1>
            <em></em>
            <!-- <h2><a href="/">Home</a><label>/</label>Products</h2> -->
        </div>
    </div>
    <div id="reloadDiv">
        <div class="check-out">
            <div class="container">

                <div class="bs-example4" data-example-id="simple-responsive-table col-md-12">
                    <% if (cartDetails && cartDetails.items && cartDetails.items.length> 0) { %>
                        <div class="table-responsive col-md-9">

                            <table class="table-bordered  table-heading simpleCart_shelfItem"
                                style=" margin-top: 21px;">

                                <tr class="table-hd ">
                                    <th class="table-grid text-center   ">
                                        <h4>Product Details</h4>
                                    </th>

                                    <th class="text-center">
                                        <h4>Prices</h4>
                                    </th>
                                    <th class="text-center">
                                        <h4>Qty</h4>
                                    </th>
                                    <th class="text-center">
                                        <h4>Total</h4>
                                    </th>
                                </tr>


                                <% let totalQuantity=0; let totalProductPrice=0; cartDetails.items.forEach((cartItem)=>
                                    {

                                    const itemTotalPrice = cartItem.productId.price * cartItem.qty;
                                    totalQuantity += cartItem.qty;
                                    totalProductPrice += itemTotalPrice;
                                    %>
                                    <tr class="cart-header ">
                                        <td class="ring-in table-hover"><a href="" class="at-in"><img
                                                    src="<%= cartItem.productId.images[0]%>" class="img-responsive"
                                                    alt=""></a>
                                            <div class="sed">
                                                <h5><a
                                                        href="/showProducts/singleProducts?id=<%=cartItem.productId._id %>">
                                                        <%= cartItem.productId.productName%>
                                                    </a></h5>
                                                <p>

                                                </p>

                                            </div>
                                            <div class="clearfix"> </div>

                                        </td>
                                        <td>
                                            <%= cartItem.productId.price%>
                                        </td>

                                        <td>

                                            <div class="divbt"
                                                style="display: flex; justify-content: center; align-items: center; gap: 5px;">
                                                <button
                                                    onclick="increaseQuantity('<%= cartDetails._id%>','<%=cartItem.productId._id %>',-1)"
                                                    style="padding: 5px 10px; font-size: 16px;">-</button>
                                                <input type="text" id="counter" disabled value="<%= cartItem.qty%>"
                                                    style="width: 30px; text-align: center; padding: 5px; font-size: 16px;">
                                                <button
                                                    onclick="increaseQuantity('<%= cartDetails._id%>','<%=cartItem.productId._id %>',1)"
                                                    style="padding: 5px 10px; font-size: 16px;">+</button>
                                            </div>

                                        </td>



                                        <td class="item_price">₹<%= cartItem.productId.price * cartItem.qty %>
                                        </td>
                                        <td class="add-check"><a class="item_add hvr-skew-backward"
                                                href="/cart/deleteCartItem/<%= cartItem.productId._id%>">Delete</a></td>
                                    </tr>
                                    <% }) %>

                            </table>

                        </div>



                        <div class="col-xs-8 col-sm-4 col-md-3 order-md-2 mb-4">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-muted">Your cart</span>
                                <span class="badge badge-secondary badge-pill">
                                    <%= cartDetails.items.length%>
                                </span>
                            </h4>
                            <ul class="list-group mb-3">
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h5 class="my-0 ">Total Quantity:</h5>

                                    </div>
                                    <span class="text-muted">
                                        <%= totalQuantity %>
                                    </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h5 class="my-0">Shipping</h5>

                                    </div>
                                    <span class="text-muted">₹0.00</span>
                                </li>

                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Total Price: </span>
                                    <strong>₹<%= totalProductPrice %></strong>
                                </li>
                            </ul>


                            <a href="/checkout" class="hvr-skew-backward" style="margin-bottom: 10px;">checkout</a>
                        </div>

                        <% }else{ %>
                            <div class="container"
                                style="background-color: #fff6f7;; padding: 20px; border-radius: 10px;" id="noCart">
                                <div class="row align-items-center">
                                    <div class="col-12 text-center">
                                        <h4 style="color: #004d40; font-size: 24px; margin-bottom: 20px;">Your Cart is
                                            Empty</h4>
                                        <p style="color: #333; font-size: 18px;">Looks like there are no items in your
                                            cart.</p>
                                        <a href="/showProducts">
                                            <button class="btn btn-primary btn-md"
                                                style="width: 140px; margin-top: 20px;">Continue Shopping</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <% } %>
                </div>


            </div>
        </div>






        <%- include('./layouts/footer') %>
            <script>
                console.log("script loaded");

                function increaseQuantity(cartId, productId, count) {
                    $.ajax({
                        url: '/updateCartItem',
                        method: 'post',
                        data: {
                            cartId: cartId,
                            productId: productId,
                            count: count

                        },
                        success: (response) => {
                            if (response.success) {
                                $('#reloadDiv').load('/cart #reloadDiv')
                            } else {
                                Swal.fire({
                                    title: 'Error',
                                    icon: 'error',
                                    text: response.message,
                                    timer: 2000
                                })
                            }
                        },
                        error: (error) => {
                            Swal.fire({
                                title: 'Error',
                                icon: 'error',
                                text: response.message,
                                timer: 1500
                            })
                        }


                    })
                }







            </script>



            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>