<style>
    h1 {
        font-size: 16px;
        margin: 5px;
    }

    .containerM {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #f9fafc;
    }

    /*
Payment Information card
*/
    .details_card {
        width: 700px;
        height: auto;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 14px 70px;
        background-color: #fff;
    }

    /*
Order Summary Card
*/
    .summary_card {
        background-color: #fff;
        width: 350px;
        height: auto;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 10px;
    }

    /*
Order Card Item Card
*/
    .card_item {
        display: flex;
        position: relative;
        margin: 10px 0;
    }

    .close-btn {
        position: absolute;
        right: 10px;
        top: 5px;
    }

    .card_item .product_img img {
        height: 80px;
        margin-right: 20px;
        width: 70px;
        border-radius: 5px;
    }

    .product_info h1 {
        font-size: 20px;
        color: #1e212d;
        margin: 5px 0;
    }

    .product_info p {
        color: #0d0d0d;
        font-size: 17px;
    }

    .product_rate_info {
        display: flex;
        margin: 5px 0;
        align-items: center;
        justify-content: space-between;
    }

    /*
cart item + & -
*/
    .pqt {
        font-size: 20px;
        line-height: 30px;
        width: 30px;
        text-align: center;
    }

    .pqt-plus,
    .pqt-minus {
        background: #fcfcfc;
        border: none;
        font-size: 20px;
        height: 100%;
        padding: 0 15px;
    }

    .pqt-plus:hover,
    .pqt-minus:hover {
        background: #53b5aa;
        color: #fff;
        cursor: pointer;
    }

    .pqt-plus {
        line-height: 30px;
    }

    .pqt-minus {
        line-height: 30px;
    }

    /*
Order price & total
*/
    .order_price,
    .order_service,
    .order_total {
        display: flex;

        justify-content: space-between;

        padding: 7px 8px;
    }

    .order_price p,
    .order_service p {
        color: #a1a1a1;
    }

    .order_total p {
        font-weight: 600;
    }

    /*
Payment Information all input
*/

    input {
        outline: 0;
        background: #f2f2f2;
        border-radius: 4px;
        width: 100%;
        border: 0;
        caret-color: #4f5d7e;
        margin: 10px 15px;
        padding: 15px 20px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .first_lastName,
    .shipping_card,
    .address {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

    }

    .address {
        margin: -29px -9px 6px 0;
    }

    .new_card {
        width: 40%;
        height: 100px;
        border: 2px solid #53b5aa;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }

    .add_savedcard {
        width: 100%;
        height: auto;
        border: 2px solid #a1a1a1;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }

    /*
Procced Payment button
*/
    .proced_payment a {
        padding: 10px 20px;
        width: 200px;
        border: 2px solid #f5f5f5;
        background-color: #53b5aa;
        color: #000;
        margin-left: 10px;
        cursor: pointer;
        text-decoration: none;
    }

    .name_address input,
    .address input {
        margin: 5px;
        /* Adjust the value as needed */
    }
</style>

<%- include('./layouts/header') %>
    <div class="banner-top">
        <div class="container">
            <h1>Checkout</h1>
            <em></em>
            <!-- <h2><a href="/">Home</a><label>/</label>Products</h2> -->
        </div>

    </div>
    <br>
    <div class="main overflow-hidden">
        <div class="containerM">
            <div class="payment_details">
                <!-- <h4 class="text-center" style="color: #F67777;" >Payment Information</h4> -->


                <div class="details_card">
                    <h4 class="text-center reducedfrom " style="color: #F67777; font-weight: bold;">Shipping Details
                    </h4>
                    <hr>

                    <div class="name_address">
                        <input type="text" placeholder="First Name" />
                        <input type="text" placeholder="mobile" />
                        <input type="text" placeholder="Address" />

                        <div class="address">
                            <input type="number" placeholder="Pincode" />
                            <input type="text" placeholder="landmark" />
                            <input type="text" placeholder="city" />
                            <input type="text" placeholder="state" />
                        </div>
                    </div>
                    <h4 class="text-center reducedfrom " style="color: #F67777;font-weight: bold;">Addresses</h4>
                    <hr>


                    <% if (!user.address || user.address.length===0) { %>
                        <div class="shipping_card">

                            <div style="width: 100%;text-align: center;">
                                <p class="text-muted mb-1">No address found</p>
                            </div>
                            <% } else { %>
                                <!-- Display a form for selecting an address -->
                                <form action="/" method="post" style="display: flex;">
                                    <% user.address.forEach((address, index)=> { %>
                                        <div class="add_savedcard">
                                            <!-- Use radio buttons to allow the user to select an address -->
                                            <input type="radio" id="address" name="selectedAddress" value="<%= index %>"
                                                style="margin-right: 5px;accent-color:#F67777;">
                                            <!-- Change color here -->
                                            <h4>
                                                <%= address.name %>
                                            </h4>
                                            <p class="text-muted mb-1">
                                                <%= address.mobile %>
                                            </p>
                                            <p class="text-muted mb-1">
                                                <%= address.address %>
                                            </p>
                                            <p class="text-muted mb-1">
                                                <%= address.pincode %>, <%= address.city %>, <%= address.state %>
                                            </p>

                                        </div>
                                        <% }) %>

                                            <!-- Add a submit button to submit the selected address -->

                                            <!-- <button type="submit">Select Address</button> -->
                                </form>
                                <% } %>
                        </div>


                </div>
            </div>
            <div class="order_summary">
                <div class="summary_card">
                    <h4 class="text-center reducedfrom " style="color: #F67777;font-weight: bold;">Order Summary</h4>
                    <hr>


                    <% cart.products.forEach((pro)=>{ %>
                        <div class="card_item">
                            <div class="product_img">
                                <img src="/<%=pro.productId.images[1] %>" alt="image" />
                            </div>
                            <div class="product_info">
                                <h5 style="color: #F67777;">
                                    <%=pro.productId.productName %>
                                </h5>
                                <p style="
                                font-size: medium;
                                font-weight: lighter; color: gray;">Qty: <%= pro.qty %>
                                </p>

                                <div class="product_rate_info">
                                    <h4>
                                        ₹<%= pro.productId.price * pro.qty %>
                                    </h4>

                                </div>
                            </div>
                        </div>
                        <% } )%>
                            <hr />
                            <div class="order_price">
                                <p>Order summary</p>
                                <h4 id="totalAmount">₹<%= subTotal %>
                                </h4>
                            </div>
                            <div class="order_service">
                                <p>Shippng</p>
                                <h4>₹0</h4>
                            </div>
                            <div class="order_total">
                                <p>Total Amount</p>
                                <h4>₹<%= subTotal %>
                                </h4>
                            </div>

                            <input 
                            class="proced_payment" 
                            onclick="placeOrdersSelect()"
                            style="background-color: #F67777; color: white; padding: 5px; cursor: pointer;"
                            type="button"
                            value="Place To Order"
                            onmouseover="this.style.backgroundColor='#ef5e5e';"
                            onmouseout="this.style.backgroundColor='#F67777';"
                        >
                        
                </div>
            </div>
        </div>
    </div>
    <%- include('./layouts/footer') %>

        <script>
            async function placeOrdersSelect() {
                const addressRadios = document.getElementsByName('selectedAddress')
                let isSelectedAddress = false;
                // Loop through address radio buttons to check if one is selected
                for (const radio of addressRadios) {
                    if (radio.checked) {
                        isSelectedAddress = true;
                        break;
                    }
                }
                // Validate address selection
                if (!isSelectedAddress) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Please select an address.'
                    });
                    return; // Prevent further execution of the function
                }

                // If both address and payment are selected, proceed with placing the order
                if (isSelectedAddress) {
                    placeOrder()
                }


            }

            async function placeOrder() {
                // Find the selected address
                const address = document.querySelector('input[name="selectedAddress"]:checked').value;

                // Get the value of totalAmount
                const totalAmountElement = document.getElementById('totalAmount');
                const total = totalAmountElement ? totalAmountElement.textContent.trim() : '0';
                // Proceed with placing the order
                $.ajax({
                    url: '/placeOrder',
                    method: 'post',
                    data: {
                        selectedAddress: address,
                        selectedPayment: payment,
                        subTotal: total,
                    },
                    success: (response) => {
                        if (response.success === true) {
                            const param = response.params;
                            const url = '/successPage/' + param;
                            window.location.href = url;
                        }

                    },
                });


            }


        </script>