<%- include('./layouts/header') %>

	<!--banner-->
	<div class='newBanner'>
		<img src="/images/web3 banner.webp" class="img-fluid" alt="Responsive image" style="width: -webkit-fill-available;">
	</div>




	<!--content-->
	<div class="content">
		<div class="container">
			<div class="content-top">
				<div class="col-md-6 col-md">
					<div class="col-1">
						<a href="/showProducts" class="b-link-stroke b-animate-go  thickbox">
							<img src="/images/banner 2.webp" class="img-responsive" alt="" />
							<div class="b-wrapper1 long-img">
								<p class="b-animate b-from-right    b-delay03 ">Trendy</p><label
									class="b-animate b-from-right    b-delay03 "></label>
								<h3 class="b-animate b-from-left    b-delay03 ">Trendy</h3>
							</div>
						</a>

						<!---<a href="single.html"><img src="images/pi.jpg" class="img-responsive" alt=""></a>-->
					</div>
					<div class="col-2">
						<span>Hot Deal</span>
						<h2><a>Luxurious &amp; Trendy</a></h2>
						<p>Our grand lehenga-choli selections are perfect to make an impression at big social
							events such as weddings. Our salwar-kameez sets, kurtas and Patiala suits make comfortable
							options for regular wear making it over 2000 years</p>
						<a href="/showProducts" class="buy-now">Buy Now</a>
					</div>
				</div>
				<div class="col-md-6 col-md1">
					<div class="col-3">
						<a href="showProducts"><img src="/images/Kids-Wear_Desk_Banner (1).jpg" class="img-responsive"
								alt="">

						</a>
					</div>
					<div class="col-3">
						<a href="showProducts"><img src="images/pi2.jpg" class="img-responsive" alt="">

						</a>
					</div>
					<!-- <div class="col-3">
							<a href="single.html"><img src="images/pi3.jpg" class="img-responsive" alt="">
							<div class="col-pic">
								<p>Lorem Ipsum</p>
								<label></label>
								<h5>For Women</h5>
							</div></a>
						</div> -->
				</div>
				<div class="clearfix"></div>
			</div>
			<!--products-->
			<div class="content-mid">
				<h3>Trending Items</h3>
				<label class="line"></label>
				<div class="mid-popular">
					<% proDatas.forEach(products=> { %>

						<div class="col-md-3 item-grid simpleCart_shelfItem">
							<div class=" mid-pop">
								<div class="pro-img">
									<a href="/showProducts/singleProducts?id=<%=products._id  %>"><img
											src=" <%= products.images[0] %>" class="img-responsive" alt=""></a>

									<!-- <div class=" ">
									<a class="picture" href="images/pc.jpg" rel="title"
										class="b-link-stripe b-animate-go  thickbox"><i
											class="glyphicon glyphicon-search icon "></i></a>
									<a href="single.html"><i class="glyphicon glyphicon-menu-right icon"></i></a>/
								</div> -->
								</div>
								<div class="mid-1">
									<div class="women">
										<div class="women-top">
											<span>
												<%= products.category %>
											</span>
											<h6><a href="/showProducts/singleProducts?id=<%=products._id  %>">
													<%= products.productName %>
												</a></h6>
										</div>
										<div class="img item_add">
											<a href="/showProducts/singleProducts?id=<%=products._id  %>"><img src=""
													alt=""></a>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="mid-2">
										<p><label></label><em class="item_price">₹<%= products.price %></em></p>
										<div class="block">
											<!-- <div class="starbox small ghosting"> </div> -->
										</div>

										<div class="clearfix"></div>
									</div>

								</div>
							</div>
						</div>
						<% }) %>



							<div class="clearfix"></div>
				</div>
				<div class="mid-popular">

					<div class="clearfix"></div>
				</div>
			</div>
			<!--//products-->


			<%- include('./layouts/footer') %>