<style>
    .cart-wrap {
        padding: 40px 0;
        font-family: 'Open Sans', sans-serif;
    }

    .main-heading {
        font-size: 19px;
        margin-bottom: 20px;
    }

    .table-wishlist table {
        width: 100%;
    }

    .table-wishlist thead {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 5px;
    }

    .table-wishlist thead tr th {
        padding: 8px 0 18px;
        color: #484848;
        font-size: 15px;
        font-weight: 400;
    }

    .table-wishlist tr td {
        padding: 8px 0;
        vertical-align: middle;
    }

    .table-wishlist tr td .img-product {
        width: 72px;
        float: left;
        margin-left: 8px;
        margin-right: 31px;
        line-height: 63px;
    }

    .table-wishlist tr td .img-product img {
        width: 60%;
    }

    .table-wishlist tr td .name-product {
        font-size: 15px;
        color: #484848;
        padding-top: 8px;
        line-height: 24px;
        width: 50%;
    }

    .table-wishlist tr td.price {
        font-weight: 600;
    }

    .table-wishlist tr td .quanlity {
        position: relative;
    }

    .total {
        font-size: 24px;
        font-weight: 600;
        color: #8660e9;
    }

    .display-flex {
        display: flex;
    }

    .align-center {
        align-items: center;
    }

    .round-black-btn {
        border-radius: 25px;
        background: #212529;
        color: #fff;
        padding: 5px 5px;
        display: inline-block;
        border: solid 2px #ffffff;
        transition: all 0.5s ease-in-out 0s;
        cursor: pointer;
        font-size: 14px;
    }

    .round-black-btn:hover,
    .round-black-btn:focus {
        background: #F67777;
        color: #fff;
        text-decoration: none;
    }

    .mb-10 {
        margin-bottom: 10px !important;
    }

    .mt-30 {
        margin-top: 30px !important;
    }

    .d-block {
        display: block;
    }

    .custom-form label {
        font-size: 14px;
        line-height: 14px;
    }

    .pretty.p-default {
        margin-bottom: 15px;
    }

    .pretty input:checked~.state.p-primary-o label:before,
    .pretty.p-toggle .state.p-primary-o label:before {
        border-color: #8660e9;
    }

    .pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after {
        background-color: #8660e9 !important;
    }

    .main-heading.border-b {
        border-bottom: solid 1px #ededed;
        padding-bottom: 15px;
        margin-bottom: 20px !important;
    }

    .custom-form .pretty .state label {
        padding-left: 6px;
    }

    .custom-form .pretty .state label:before {
        top: 1px;
    }

    .custom-form .pretty .state label:after {
        top: 1px;
    }

    .custom-form .form-control {
        font-size: 14px;
        height: 38px;
    }

    .custom-form .form-control:focus {
        box-shadow: none;
    }

    .custom-form textarea.form-control {
        height: auto;
    }

    .mt-40 {
        margin-top: 40px !important;
    }

    .in-stock-box {
        background: #ff0000;
        font-size: 12px;
        text-align: center;
        border-radius: 25px;
        padding: 4px 15px;
        display: inline-block;
        color: #fff;
    }

    .trash-icon {
        font-size: 20px;
        color: #d70000;
    }
</style>

<%- include('./layouts/header') %>

    <div
        style="width: 100%; height: 110px; background-color: #f3f3f3; text-align: center; font-size: 24px;font-weight: bolder; color: #7f7f7f;line-height: 100px;">
        User Profile</div>
    <%- include('./layouts/userHeader') %>








        <div class="cart-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-8" style="
                    margin-top: -38px;
                    border: 1px solid #e2e2e2; /* Color of the border */
                  
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
                ">
                        <div class="main-heading mb-10"></div>
                        <div class="table-wishlist">
                            <% if (wishlistList && wishlistList.length > 0 && wishlistList[0].products.length === 0) { %>
                                <div class="noWishlist text-center text-info">
                                    <p>No products in wishlist</p>
                                </div>
                                <% } else { %>
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th width="45%" class="text-center">Products</th>
                                                <th width="15%">Price</th>
                                                <th width="15%">Stock Status</th>
                                                <th width="15%"></th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% wishlistList.forEach(wishlistItem=> { %>
                                                <% wishlistItem.products.forEach(product=> { %>
                                                    <tr>
                                                        <td width="45%">
                                                            <div class="display-flex align-center">
                                                                <div class="img-product">
                                                                    <img src="<%= product.product.images && product.product.images[0] %>"
                                                                        alt="" class="mCS_img_loaded">
                                                                </div>
                                                                <div class="name-product">
                                                                    <%= product.product.productName
                                                                        || 'Product Name N/A' %>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td width="15%" class="price">₹<%= product.price || 'Price N/A'
                                                                %>
                                                        </td>
                                                        <td width="15%">
                                                            <% if (product.product.stock> 0) { %>
                                                                <span class="badge rounded-pill"
                                                                    style="background-color: #00b74c;">In Stock</span>
                                                                <% } else { %>
                                                                    <span class="badge rounded-pill"
                                                                        style="background-color: #eb0404;">Out of
                                                                        Stock</span>
                                                                    <% } %>
                                                        </td>
                                                        <td width="15%">
                                                            <button class="round-black-btn small-btn"
                                                                onclick="showProductDetails('<%= product.product._id %>')">Show
                                                                details</button>

                                                        </td>
                                                        <td width="10%" class="text-center">
                                                            <a href="#" class="trash-icon"
                                                                data-product-id="<%= product.product._id %>">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                                        <% }); %>
                                        </tbody>
                                    </table>
                                    <% } %>
                        </div>

                    </div>
                </div>
            </div>
        </div>






        <script>

            function showProductDetails(productId) {
                // Redirect to the product details page
                window.location.href = `/showProducts/singleProducts?id=${productId}`;
            }



            document.addEventListener('DOMContentLoaded', function () {
                document.querySelectorAll('.trash-icon').forEach(function (icon) {
                    icon.addEventListener('click', function (event) {
                        event.preventDefault();

                        const productId = this.getAttribute('data-product-id');

                        axios.post('/deleteWishlist', { productId: productId })
                            .then(function (response) {
                                console.log(response.data);
                                window.location.href = '/wishlist';
                            })
                            .catch(function (error) {
                                console.error(error);
                            });
                    });
                });
            });
        </script>










        <%- include('./layouts/footer') %>