<%- include('./layouts/adminHeader') %>

    <section class="content-main">


        <div class="content-header">
            <div>



                <h4 class="content-title card-title">Order detail</h4>
                <p>Details for Order ID:<%= orderDetails.orderId %>
                </p>
            </div>
        </div>

        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span> <i class="material-icons md-calendar_today"></i> <b></b>
                        </span> <br />
                        <small class="text-muted">Order ID:<%= orderDetails.orderId %> </small>
                    </div>
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <select id="orderStatus" class="form-select d-inline-block mb-lg-0 mr-5 mw-200">
                            <option value="Placed" <%=orderDetails.status==='Placed' ? 'selected' : '' %>>Placed
                            </option>
                            <option value="Returned" <%=orderDetails.status==='Returned' ? 'selected' : '' %>>Returned
                            </option>
                            <option value="Canceled" <%=orderDetails.status==='Canceled' ? 'selected' : '' %>>Canceled
                            </option>
                            <option value="Deliverd" <%=orderDetails.status==='Deliverd' ? 'selected' : '' %>
                                >Deliverd</option>
                        </select>

                        <a class="btn btn-primary" onclick="saveOrderStatus('<%= orderDetails._id %>')">Save</a>

                    </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    <%= orderDetails.userId.name %> <br />
                                        <%= orderDetails.userId.email %> <br />
                                            <%= orderDetails.userId.mobilenumber %>
                                </p>
                                <!-- <a href="#">View profile</a> -->
                            </div>
                        </article>
                    </div>
                    <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: <br />
                                    Pay method: <%= orderDetails.payment%> <br />
                                        Status: <%= orderDetails.status %>
                                            <% if (orderDetails.status==='Canceled' ) { %>
                                                <br /> Reason: <%= orderDetails.cancelationReason %>
                                                    <% } %>
                                </p>
                            </div>
                        </article>
                    </div>
                    <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    <%= orderDetails.delivery_address %>
                                </p>
                                <!-- <a href="#">View profile</a> -->
                            </div>
                        </article>
                    </div>
                    <!-- col// -->
                </div>
                <!-- row // -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Unit Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%" class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orderDetails.items.forEach(order=> { %>


                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="/<%= order.productId.images[0]%>" width="40"
                                                            height="40" class="img-xs" alt="Item" />
                                                    </div>
                                                    <div class="info">
                                                        <%= order.productId.productName%>
                                                    </div>
                                                </a>
                                            </td>
                                            <td>₹<%= order.price%>
                                            </td>
                                            <td>
                                                <%= order.qty%>
                                            </td>
                                            <td class="text-end">₹<%= order.total_price%>
                                            </td>
                                        </tr>
                                        <% }) %>

                                            <tr>
                                                <td colspan="4">
                                                    <article class="float-end">
                                                        <dl class="dlist">
                                                            <dt>Subtotal:</dt>
                                                            <dd>₹<%= orderDetails.total_amount %>
                                                            </dd>
                                                        </dl>
                                                        <dl class="dlist">
                                                            <dt>Shipping cost:</dt>
                                                            <dd>₹00.00</dd>
                                                        </dl>
                                                        <dl class="dlist">
                                                            <dt>Discount:</dt>
                                                            <dd>₹<%= orderDetails.discount_amount %>
                                                            </dd>
                                                        </dl>
                                                        <dl class="dlist">
                                                            <dt>Grand total:</dt>
                                                            <dd><b class="h5">₹<%= orderDetails.total_amount %>
                                                            </dd></b></dd>
                                                        </dl>
                                                        <dl class="dlist">
                                                            <dt class="text-muted">Status:</dt>
                                                            <dd>
                                                                <span
                                                                    class="badge rounded-pill text-dark 
                                                                    <%= orderDetails.status == 'Canceled' ? 'alert-danger' : 
                                                                       orderDetails.status == 'Deliverd' ? 'alert-success' : 
                                                                       orderDetails.status == 'Placed' ? 'alert-info' : 
                                                                       orderDetails.status == 'Returned' ? 'alert-danger' : 'alert-warning' %> text-success">
                                                                    <%= orderDetails.status %>
                                                                </span>
                                                            </dd>



                                                        </dl>
                                                    </article>
                                                </td>
                                            </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive// -->
                    </div>
                    <!-- col// -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <div class="box shadow-sm bg-light">
                            <h6 class="mb-15">Payment info</h6>
                            <p>
                            <p>
                                Payment Method:
                                <%= orderDetails.payment==='cod' ? 'Cash on Delivery' :
                                    orderDetails.payment==='razorpay' ? 'Razorpay' : 'Payment Not Completed' ; %>
                            </p>

                            </p>

                        </div>
                        <!-- <div class="h-25 pt-4">
                                <div class="mb-3">
                                    <label>Notes</label>
                                    <textarea class="form-control" name="notes" id="notes"
                                        placeholder="Type some note"></textarea>
                                </div>
                               
                            </div> -->
                    </div>
                    <!-- col// -->
                </div>
            </div>
            <!-- card-body end// -->
        </div>

        <!-- card end// -->
    </section>
    <script>
        function updateOptions() {
            var orderStatus = document.getElementById("orderStatus");
            var selectedStatus = orderStatus.value;

            // Reset all options to be visible
            for (var i = 0; i < orderStatus.options.length; i++) {
                orderStatus.options[i].style.display = "block";
            }

            // Hide options based on selected status
            if (selectedStatus === "Placed") {
                hideOptions(["Returned", "Canceled",]);
            } else if (selectedStatus === "Canceled") {
                hideOptions(["Placed", "Returned", "Deliverd"]);
            } else if (selectedStatus === "Returned") {
                hideOptions(["Placed", "Canceled", "Deliverd"]);
            } else if (selectedStatus === "Deliverd") {
                hideOptions(["Placed", "Returned", "Canceled"]);
            } else if (selectedStatus === "Pending") {
                hideOptions(["Deliverd", "Returned", "Canceled"]);

            }
        }

        function hideOptions(optionsToHide) {
            var orderStatus = document.getElementById("orderStatus");
            for (var i = 0; i < orderStatus.options.length; i++) {
                if (optionsToHide.includes(orderStatus.options[i].value)) {
                    orderStatus.options[i].style.display = "none";
                }
            }
        }

        updateOptions();
    </script>
    <%- include('./layouts/adminFooter') %>

        <script>
            function saveOrderStatus(orderId) {
                var selectedStatus = document.getElementById("orderStatus").value;

                // Make an AJAX request to send the data to the server
                fetch('/admin/changeStatus', {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ orderId: orderId, status: selectedStatus })

                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();


                        } else {
                            console.error("Error updating data");
                        }
                    })
                    .then(data => {
                        console.log("Data updated successfully")

                        location.href = location.href;
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
            }



        </script>