<%- include('./layouts/adminHeader') %>





    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List</h2>
            </div>
            <div>
                <input type="text" placeholder="Search order ID" class="form-control bg-white" />
            </div>
        </div>
        <div class="card mb-4">
            <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Total</th>
                                <th scope="col">Payment</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% ordersList.forEach(orders=> { %>


                                <tr>
                                    <td>
                                        #<%= orders.orderId %>
                                    </td>
                                    <td><b>
                                            <%= orders.user_name %>
                                        </b></td>
                                    <td>₹<%= orders.total_amount %>
                                    </td>
                                    <td>
                                        <%= orders.payment %>
                                    </td>

                                    <td>
                                        <span
                                            class="badge rounded-pill 
                                                    <%= orders.status == 'Canceled' ? 'alert-danger' : 
                                                       orders.status == 'Deliverd' ? 'alert-success' : 
                                                       orders.status == 'Placed' ? 'alert-info' : 
                                                       orders.status == 'Returned' ? 'alert-danger' : 'alert-warning' %>">
                                            <%= orders.status %>
                                        </span>
                                    </td>



                                    <td>
                                        <%= orders.date %>
                                    </td>
                                    <td class="text-center">
                                        <a href="/admin/orders/orderDetails/<%=  orders._id  %>"
                                            class="btn btn-md rounded font-sm">Detail</a>
                                   
                                        <!-- dropdown //end -->
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
                <!-- table-responsive //end -->
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <!-- Inside your pagination-area -->
            <!-- Inside your pagination-area -->
            <!-- Inside your pagination-area -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                        <a class="page-link" href="/admin/orders?page=<%= currentPage - 1 %>">
                            <i class="material-icons md-chevron_left"></i>
                        </a>
                    </li>
                    <% for (let i=1; i <=totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                            <a class="page-link" href="/admin/orders?page=<%= i %>">
                                <%= i %>
                            </a>
                        </li>
                        <% } %>
                            <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                <a class="page-link" href="/admin/orders?page=<%= currentPage + 1 %>">
                                    <i class="material-icons md-chevron_right"></i>
                                </a>
                            </li>
                </ul>
            </nav>


        </div>
    </section>





    <%- include('./layouts/adminFooter') %>