<%- include('./layouts/adminHeader') %>




    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Sales Report</h2>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class=" col-md-8 mb-lg-0 mb-15" style="display: flex;">
                        <div class="col-lg-4 col-6" style="margin-right: 10px;">
                            <span style="display: flex;">From: &nbsp;</span>
                            <input type="date" min="<%= firstOrder %>" max="<%= lastOrder %>" class=" form-control"
                                name="" id="fromDateInput" />
                        </div>
                        <div class="col-lg-4 col-6">
                            <span style="display: flex;">To: &nbsp;</span>
                            <input type="date" class="form-control" name="" id="toDateInput" pattern="\d{2}/\d{2}/\d{4}"
                                min="<%= firstOrder %>" max="<%= lastOrder %>" />
                        </div>


                    </div>
                    <div class=" col-md-4 ms-auto text-md-end">

                        <a class="btn btn-primary print ms-2" href="#" onclick="downloadPDF()"><i
                                class="icon material-icons md-print"></i></a>
                    </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">

                <!-- row // -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="17%">OrderId</th>
                                        <th width="20%">Delivery Address</th>
                                        <th width="20%">Products</th>
                                        <th width="10%">Order Date</th>
                                        <th width="10%">Payment</th>
                                        <th width="10%">Total Qty</th>
                                        <th width="10%">Total Amount</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach(order=> { %>

                                        <tr>
                                            <td>
                                                #<%=order.orderId %>
                                            </td>
                                            <td>
                                                <%=order.delivery_address %>
                                            </td>


                                            <td>
                                                <% order.items.forEach(item=> { %>
                                                    <%= item.productId.productName %> <br>
                                                        <% }); %>
                                            </td>

                                            <td>
                                                <%=order.date %>


                                            </td>
                                            <td>
                                                <%=order.payment %>

                                            </td>

                                            <td>
                                                <%= order.totalProductsCount %>

                                            </td>
                                            <td>
                                                <%=order.total_amount %>
                                            </td>
                                        </tr>
                                        <% }); %>


                                            </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
    </section>


    <script>
        // Function to download PDF
        function downloadPDF() {
            // Get the table content as HTML
            const tableContent = document.querySelector('.table').outerHTML;

            // Create a new window and set its content to the table HTML
            const printWindow = window.open('', '_blank');
            printWindow.document.open();
            printWindow.document.write(`
                <html>
                <head>
                    <title>Sales Report</title>
                    <style>
                        table {
                        border-collapse: collapse;
                        width: 100%;
                    }
                    th, td {
                        border: 1px solid #ddd;
                        padding: 8px;
                        text-align: left;
                    }
                    th {
                        background-color: #f2f2f2;
                    }
                    </style>
                </head>
                <body>${tableContent}</body>
                </html>
            `);
            printWindow.document.close();

            // Trigger the print dialog
            printWindow.print();
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const fromDateInput = document.querySelector('#fromDateInput');
            const toDateInput = document.querySelector('#toDateInput');


            const fetchData = async () => {
                try {
                    const response = await axios.get('/admin/sales', {
                        params: {
                            startDate: fromDateInput.value,
                            endDate: toDateInput.value
                        },
                    });
                    console.log('startDate::', fromDateInput.value, 'endDate::', toDateInput.value);
                    console.log('data::', response.data);
                    updateSalesData(response.data);
                } catch (error) {
                    console.error('Error fetching sales data:', error);
                }
            };

            const validateDateRange = () => {
                const fromDate = new Date(fromDateInput.value);
                const toDate = new Date(toDateInput.value);

                if (fromDate > toDate) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'End date must be after start date',
                    });
                    toDateInput.value = '';
                }
            };

            fromDateInput.addEventListener('change', validateDateRange);
            toDateInput.addEventListener('change', validateDateRange);
            fromDateInput.addEventListener('change', fetchData);
            toDateInput.addEventListener('change', fetchData);

            function updateSalesData(salesData) {
                console.log('Received sales data:', salesData);

                const tbody = document.querySelector('tbody');
                tbody.innerHTML = '';

                if (salesData.length === 0) {
                    console.log('No sales data available for the selected date range.');
                    return;
                }

                salesData.orders.forEach(order => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                    <td>#${order.orderId}</td>
                    <td>${order.delivery_address}</td>
                    <td>${order.items.map(item => item.productId.productName).join('<br>')}</td>
                    <td>${order.date}</td>
                    <td>${order.payment}</td>
                    <td>${order.items.length}</td>
                    <td>${order.total_amount}</td>
                  
                   
                  
                `;
                    tbody.appendChild(row);
                });

            }
        });
    </script>



    <!-- ... Other HTML code ... -->


    <%- include('./layouts/adminFooter') %>